extends layout

block content
	h1 Welcome!
	h3 My name is Alea and I'm learning how to code.
	p This project was an assignment from NYCDA, the New York Coding and Design Academy.
	p To check out more of my projects, breeze on over to my Github account.
	p Thanks for stopping by!
	br
	a(href='https://github.com/aleanalesnik' id='github') Github
	br
	br