doctype html
html
	head
		link(rel="stylesheet" type="text/css" href="css/style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		title Countries App
	body
		.topnav
			a(href='/about') About
			a(href='/search') Search
			a.active(href='/') Home
		.footer
			| Alea is awesome
	block content